html {
	background-color:rgb(240,220,220);
}

body {
	margin:5% 10%;
    background-color:#e66e3fb9;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
    }
    
    #tablica {
	margin:5% 10%;	
	padding:5% 10%;
	background-color:#ee66ffaa;	
    width: 800px;
    margin: 30px auto;
    color:rgb(240, 220, 210);
    text-align:center;
    }
    h1{
	background-color:#e66e3fdd;		
	}
    h1, h2, h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 2.6em;
      text-transform: uppercase;
    }
    
    span, #seconds, #tens{
      font-size:2em;
    }
    
    button{
    background-color:#e66e3fb9;
    background-clip: content-box;
    color:rgb(250, 250, 250);
    border: solid 1px rgb(240, 240, 240);
    box-shadow: 10px 5px 5px rgba(82, 41, 41, 0.5);
    border-radius: 10px;
    text-decoration:transparent;
    cursor:grabbing;
    font-size:1.4em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
     outline: none;
      
    }
    button:hover{
        background-color:#ffe5ab;
        border-left: solid 1px rgb(250, 250, 250);
        box-shadow: 10px 5px 5px rgba(141, 14, 14, 0.562);
		border-top: solid 1px rgb(250, 250, 250);
		 border-right: solid 5px lightgray;
		border-bottom: solid 5px lightgray;
        color:#e66e3fb9;
        }